<h2>Source</h2>
<button (click)="startSourceScreen()">Start screen capture</button><br />
<button (click)="clickVideoInput()">Start from video file</button><br />
<input #videoFileInput type="file" accept="video/*" (change)="changeVideoInput($event)" class="video-input" />
<video #video autoplay width="1920" height="1080" style="width: 384px; height: 216px;" controls muted></video><br>

<h2>Analyze</h2>
<button (click)="startAnalyzeNormal()">Normal</button><br />
<button (click)="startAnalyzeFrame()">Frame by frame</button>
<input (change)="changeExpectedScreen($event)" type="text" placeholder="Expected screen" />

<h2>Response</h2>
<pre>{{gameServiceResponse | async | json}}</pre>



<hr>



<h2>From video</h2>
Description: <input type="file" accept="text/plain" (change)="this.onChangeTestVideoDescription($event)"/><br />
Video: <input type="file" accept="video/*" (change)="this.onChangeTestVideo($event)"/><br />
<video #videoTest width="1920" height="1080" autoplay muted style="width: 192px; height: 108px;"></video><br />

<h2>Tools</h2>
<h3>Annotate video</h3>
<app-video-annotator></app-video-annotator>
<h3>Color calculator</h3>
<app-alpha-calculator></app-alpha-calculator>
<h3>Check color match</h3>
<app-is-color-calculator></app-is-color-calculator>
<h3>Extract color</h3>
<app-color-extract [video]="video"></app-color-extract>
