.devices-list {
    margin-bottom: 25px;

    ul {
        margin-bottom: 10px;
    }
    
    .disconnected {
        color: #b11;
    }
}

.test-button {
    padding: 5px 10px;
}

.connect-button {
    display: block;
}
