<p>
    Start by connecting your bluetooth toy with this game. Check out
    <a href="https://iostindex.com/?filter0ButtplugSupport=4&filter1Connection=Bluetooth%202,Bluetooth%204%20LE" target="_blank" rel="noopener nofollow">this list</a>
    to see which devices are supported or just try.
</p>
<div>
    <app-alert *ngIf="!supportsBluetooth" type="error">
        Your browser doesn't support bluetooth. Please use an other browser like Google Chrome or Microsoft Edge.
    </app-alert>
    <app-alert *ngIf="supportsBluetooth && (hasBluetooth$ | async) === false" type="error">
        Your device hasn't bluetooth. You can use a USB bluetooth adapter or switch to a different device like a laptop with bluetooth.
    </app-alert>
</div>

<div *ngIf="hasBluetooth$ | async">
    <div class="devices-list">
        <p *ngIf="!devices.length; else devicesList">No device connected</p>
        <ng-template #devicesList>
            <ul>
                <li *ngFor="let device of devices">
                    {{device.device.Name}} –
                    <span *ngIf="device.status === 'connected'; else disconnected">
                        Connected <app-typicon [icon]="'wi-fi'" [uppercase]="true"></app-typicon>
                    </span>
                    <ng-template #disconnected>
                        <span class="disconnected">
                            Disconnected <app-typicon [icon]="'cancel'" [uppercase]="true"></app-typicon>
                        </span>
                    </ng-template>
                </li>
            </ul>
            <button (click)="test()" [disabled]="isTesting || !isDeviceConnected" appAutoBlur class="test-button">
                {{!isDeviceConnected ? 'No device connected' : (!isTesting ? 'Test vibration' : 'Testing...')}}
            </button>
        </ng-template>
    </div>
    <button (click)="startScanning()" appAutoBlur [class.loading]="loading$ | async" class="connect-button">Connect bluetooth device</button>
    <app-alert *ngIf="userGestureRequired" type="warning">
        Loading completed. Please click the button again to select a device.
    </app-alert>

    <app-alert *ngIf="error" type="error">
        Error: {{error}} (Buttplug.io)
    </app-alert>
</div>