.step {
    display: flex;
}

.step-number {
    font-size: 3rem;
    font-weight: bold;
    line-height: .8;
    min-width: 60px;
    padding: 0 10px;
    color: #444;
}

table {
    border: 1px solid #ccc;
    margin-top: 30px;

    td, th {
        padding: 10px;
        text-align: left;
        border: 1px solid #ccc;
    }
}