<p>
    Select the game window so the website can watch the pixel colors. It says "share" but it doesn't get actually shared.
    When you select the window, this game automatically starts.
</p>
<p>
    Do not molest other players.
</p>
<button (click)="onStartVideo()" appAutoBlur>Select Overwatch window & start playing</button>
<div [class.hidden]="!videoStarted">
    <app-alert *ngIf="displayUnknownResolutionWarning" type="warning">
        Please ensure that you're playing in fullscreen (windowed) mode.
    </app-alert>
    <app-alert *ngIf="smallDisplayWarning" type="warning">
        Your screen resolution ({{videoElement.nativeElement.videoWidth}}×{{videoElement.nativeElement.videoHeight}}px) is smaller than the recommended size (1080px height) and might not work so well.
    </app-alert>
    <p>
        You should see your game window here, without any black borders:
    </p>
    <video #video autoplay width="1920" height="1080"></video><br />
    <button (click)="onStopVideo()" appAutoBlur>Stop playing</button>
</div>
