<p>
    Select the game window so the website can watch the pixel colors. It says "share" but it doesn't get actually shared.
</p>
<button (click)="onStartVideo()" appAutoBlur>Select Overwatch window</button>
<div [class.hidden]="!videoStarted">
    <app-alert *ngIf="displayUnknownResolutionWarning" type="warning">
        This game is only optimized for 16:9 screen resolutions and likely doesn't work for your resolution which is {{videoElement.nativeElement.videoWidth}}×{{videoElement.nativeElement.videoHeight}}px.
    </app-alert>
    <p>
        You should see your game window here, without any black borders:
    </p>
    <video #video autoplay width="1920" height="1080"></video><br />
    <button (click)="onStopVideo()" appAutoBlur>Stop video</button>
</div>
